<div class="card mt-4">
    <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
    <div class="card-body">
      <h3 class="card-title"> {{productDetail.name}} </h3>
      <a [routerLink]="['/products/update-product', productId]"> update product</a> |
      <a [routerLink]="['/products/delete-product', productId]"> delete product</a>

      <h4>  {{productDetail.price}} </h4>
      <p class="card-text"> {{productDetail.description}} </p>
      <span class="text-warning"> {{productDetail.rating}} stars</span>
    </div>
  </div>
