<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Shoping</a>
     
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="products">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products/create-product">create </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products/delete-product/:id">delete </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products/update-product/:id">update </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>